# Version control
.git
.gitignore
.github

# Dependencies
node_modules

# Build output
.next

# Environment files
.env
.env.*
!.env.docker.example

# Testing
coverage
playwright-report
test-results
tests

# Logs
*.log

# Documentation
*.md

# Development files
docker-compose.yml
.DS_Store
